{% extends 'base.html' %}
{% block content %}
{% include 'nav_cat_bar.html' %}

{% endblock %}
{% block self_footer_js %}
<script src="/static/js/echarts/echarts.js"></script>
<script>
$(document).ready(function(){
    $('#show').click(function(){
        $('#show').css('display', 'none');
        $('#more').css('display', 'block');
    })
});

    require.config({
        paths: {
            'echarts': '/static/js/echarts/chart',
            'echarts/chart/line': '/static/js/echarts/chart/line',
            'echarts/chart/pie': '/static/js/echarts/chart/pie'
        }
    });
    require(
        [
            'echarts',
            'echarts/chart/line'
        ],
        function (ec) {
            var top10Chart = ec.init(document.getElementById('top10'));
            var option = {
                title : {
                    text: '月数据总览',
                    subtext: '一个月内历史汇总',
                    x: 'center'
                },
                tooltip : {
                    trigger: 'axis'
                },
                backgroundColor: '#fff',
                legend: {
                    data:['登陆次数', '活跃用户','活跃资产'],
                    y: 'bottom'
                },
                toolbox: {
                    show : false,
                    feature : {
{#                        mark : {show: true},#}
{#                        dataView : {show: true, readOnly: false},#}
                        magicType : {show: true, type: ['line', 'bar']}
                    }
                },
                calculable : true,
                xAxis : [
                    {
                        type : 'category',
                        boundaryGap : false,
                        data : {{ date_month | safe}}
                    }
                ],
                yAxis : [
                    {
                        type : 'value'
                    }
                ],
                series : [
                    {
                        name:'登陆次数',
                        type:'line',
                        smooth:true,
                        itemStyle: {normal: {areaStyle: {type: 'default'}}},
                        data: {{ active_login_per_month | safe }}
                    },
                    {
                        name:'活跃用户',
                        type:'line',
                        smooth:true,
                        itemStyle: {normal: {areaStyle: {type: 'default'}}},
                        data: {{ active_user_per_month | safe }}
                    },
                    {
                        name:'活跃资产',
                        type:'line',
                        smooth:true,
                        itemStyle: {normal: {areaStyle: {type: 'default'}}},
                        data: {{ active_asset_per_month | safe }}
                    }

                ]
            };

            top10Chart.setOption(option);
        }
    );

    require(
        [
            'echarts',
            'echarts/chart/pie'
        ],
        function (ec) {
            var auChart = ec.init(document.getElementById('activeUser'));
            var option = {
                tooltip : {
                    trigger: 'item',
                    formatter: "{b} <br> {c} ({d}%)"
                },
                legend: {
                    show: false,
                    orient : 'vertical',
                    x : 'left',
                    data:['月活跃用户','禁用用户','月未登陆用户']
                },
                toolbox: {
                    show : false,
                    feature : {
                        mark : {show: true},
                        dataView : {show: true, readOnly: false},
                        magicType : {
                            show: true,
                            type: ['pie', 'funnel'],
                            option: {
                                funnel: {
                                    x: '25%',
                                    width: '50%',
                                    funnelAlign: 'center',
                                    max: 1548
                                }
                            }
                        },
                        restore : {show: true},
                        saveAsImage : {show: true}
                    }
                },
                calculable : true,
                series : [
                    {
                        name:'访问来源',
                        type:'pie',
                        radius : ['50%', '70%'],
                        itemStyle : {
                            normal : {
                                label : {
                                    show : false
                                },
                                labelLine : {
                                    show : false
                                }
                            },
                            emphasis : {
                                label : {
                                    show : true,
                                    position : 'center',
                                    textStyle : {
                                        fontSize : '5',
                                        fontWeight : 'bold'
                                    }
                                }
                            }
                        },
                        data:[
                            {value:{{ active_user_month }}, name:'月活跃用户'},
                            {value:{{ disabled_user_count }}, name:'禁用用户'},
                            {value:{{ inactive_user_month }}, name:'月未登陆用户'}

                        ]
                    }
                ]
            };

            auChart.setOption(option);
        }
    );

    require(
        [
            'echarts',
            'echarts/chart/pie'
        ],
        function (ec) {
            var aaChart = ec.init(document.getElementById('activeAsset'));
            var option = {
                tooltip : {
                    trigger: 'item',
                    formatter: "{b} <br> {c} ({d}%)"
                },
                legend: {
                    show: false,
                    orient : 'vertical',
                    x : 'left',
                    data:['月被登陆主机','禁用主机','月未登陆主机']
                },
                toolbox: {
                    show : false,
                    feature : {
                        mark : {show: true},
                        dataView : {show: true, readOnly: false},
                        magicType : {
                            show: true,
                            type: ['pie', 'funnel'],
                            option: {
                                funnel: {
                                    x: '25%',
                                    width: '50%',
                                    funnelAlign: 'center',
                                    max: 1548
                                }
                            }
                        },
                        restore : {show: true},
                        saveAsImage : {show: true}
                    }
                },
                calculable : true,
                series : [
                    {
                        name:'访问来源',
                        type:'pie',
                        radius : ['50%', '70%'],
                        itemStyle : {
                            normal : {
                                label : {
                                    show : false
                                },
                                labelLine : {
                                    show : false
                                }
                            },
                            emphasis : {
                                label : {
                                    show : true,
                                    position : 'center',
                                    textStyle : {
                                        fontSize : '5',
                                        fontWeight : 'bold'
                                    }
                                }
                            }
                        },
                        data:[
                            {value:{{ active_asset_month }}, name:'月被登陆主机'},
                            {value:{{ disabled_asset_count }}, name:'禁用主机'},
                            {value:{{ inactive_asset_month }}, name:'月未登陆主机'}

                        ]
                    }
                ]
            };

            aaChart.setOption(option);
        }
    );

</script>

{% endblock %}
